name: 每日同步

on:
  schedule:
    # 每天北京时间 09:00 运行 (UTC 01:00)
    - cron: '0 1 * * *'
  workflow_dispatch: # 允许手动点按钮触发

jobs:
  daily-python-job:
    runs-on: ubuntu-latest
    environment: DaillyRun
    steps:
      # 1. 拉取代码
      - name: Checkout code
        uses: actions/checkout@v4
      
      # 2. 设置 Python 环境
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12' # 根据你的实际开发环境修改，如 '3.9', '3.11'
          cache: 'pip' # 开启缓存，让第二次运行安装依赖更快
          
      # 3. 安装依赖
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          # 检查是否存在 requirements.txt，存在则安装
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      # 登录小米
      # - name: Login xiaomi
      #   env: 
      #     # 如果你的脚本里用了 os.environ.get('MY_API_KEY')
      #     # 请先在仓库 Settings -> Secrets and variables -> Actions 中添加密钥
      #     GM_USERNAME: ${{ secrets.GM_USERNAME }}
      #     GM_PWD: ${{ secrets.GM_PWD }}
      #     XM_USERNAME: ${{ secrets.XM_USERNAME }}
      #     XM_PWD: ${{ secrets.XM_PWD }}
      #   run: python ./src/xiaomi/login.py --config users.json
      # 同步数据 
      - name: sync data
        env: 
          # 如果你的脚本里用了 os.environ.get('MY_API_KEY')
          # 请先在仓库 Settings -> Secrets and variables -> Actions 中添加密钥
          GM_USERNAME: ${{ secrets.GM_USERNAME }}
          GM_PWD: ${{ secrets.GM_PWD }}
          XM_USERNAME: ${{ secrets.XM_USERNAME }}
          XM_PWD: ${{ secrets.XM_PWD }}
          XM_USERID: ${{ secrets.XM_USERID }}
          XM_PASS_TOKEN: ${{ secrets.XM_PASS_TOKEN }}
        run: python ./src/main.py --sync
